In [1]:
import pandas as pd
import matplotlib.pylab as plt

In [2]:
filename = "C:/Users/Laila/OneDrive/Desktop/distribution_of_schools_classes_students_teachers_by_education_level_and_department_for_2017_-2.csv"

In [3]:
headers = ["school","addres","managment","sex","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","guardian","traveltime","studytime","failures","schoolsup","famsup","paid","activities","nursery","higher","internet","romantic","famrel","freetime","goout","Dalc","Walc","health","absences","G1","G2","G3"]

In [4]:
df = pd.read_csv(filename, names = headers)

In [5]:
df.head()

,school,addres,managment,sex,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,توزيــــــع المـــدارس حســــب إدارات التعليــ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,المنطقة الإدارية,إدارة التعليم,الجنس,نوع التعليم,ريــــاض أطفــــــال,NaN,NaN,المرحلة الابتدائية,NaN,...,NaN,تربية خاصة,NaN,NaN,المجموع,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,حكومي,أهلي,الاجمالي,حكومي,أهلي,...,الاجمالي,حكومي,اهلي,الاجمالي,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(5)

,school,addres,managment,sex,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,توزيــــــع المـــدارس حســــب إدارات التعليــ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,المنطقة الإدارية,إدارة التعليم,الجنس,نوع التعليم,ريــــاض أطفــــــال,NaN,NaN,المرحلة الابتدائية,NaN,...,NaN,تربية خاصة,NaN,NaN,المجموع,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,حكومي,أهلي,الاجمالي,حكومي,أهلي,...,الاجمالي,حكومي,اهلي,الاجمالي,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.drop('addres',axis=1,inplace= True)
df.head(2)

,school,managment,sex,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_ = df.replace('[^\d.]','',regex=True).astype(str)
df_

,school,managment,sex,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,nan,,,,,nan,nan,,nan,nan,...,nan,,nan,nan,,nan,nan,nan,nan,nan
4,nan,nan,nan,nan,,,,,,,...,,,,,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,nan,nan,nan,,0.0,0.0,0.0,527.0,69.0,596.0,...,0.0,0.0,5.0,5.0,1091.0,nan,nan,nan,nan,nan
617,nan,nan,nan,,0.0,0.0,0.0,2.0,0.0,2.0,...,0.0,1011.0,39.0,1050.0,1053.0,nan,nan,nan,nan,nan
618,nan,nan,nan,,2132.0,1272.0,3404.0,6322.0,780.0,7102.0,...,1158.0,1011.0,44.0,1055.0,19882.0,nan,nan,nan,nan,nan
619,nan,nan,nan,nan,2132.0,1272.0,3404.0,12647.0,1390.0,14037.0,...,1799.0,2713.0,64.0,2777.0,36693.0,nan,nan,nan,nan,nan
620,nan,nan,nan,nan,,nan,3404.0,,nan,14037.0,...,1799.0,,nan,2777.0,36693.0,nan,nan,nan,nan,nan

In [9]:
df.tail(5)

,school,managment,sex,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
616,NaN,NaN,NaN,تحفيظ,0.0,0.0,0.0,527.0,69.0,596.0,...,0.0,0.0,5.0,5.0,1091.0,NaN,NaN,NaN,NaN,NaN
617,NaN,NaN,NaN,تربية خاصة,0.0,0.0,0.0,2.0,0.0,2.0,...,0.0,1011.0,39.0,1050.0,1053.0,NaN,NaN,NaN,NaN,NaN
618,NaN,NaN,NaN,جملة,2132.0,1272.0,3404.0,6322.0,780.0,7102.0,...,1158.0,1011.0,44.0,1055.0,19882.0,NaN,NaN,NaN,NaN,NaN
619,NaN,NaN,NaN,NaN,2132.0,1272.0,3404.0,12647.0,1390.0,14037.0,...,1799.0,2713.0,64.0,2777.0,36693.0,NaN,NaN,NaN,NaN,NaN
620,NaN,NaN,NaN,NaN,اجمالي رياض أطفال,NaN,3404.0,اجمالي ابتدائي,NaN,14037.0,...,1799.0,اجمالي تربية خاصة,NaN,2777.0,36693.0,NaN,NaN,NaN,NaN,NaN

In [10]:
df.isnull()

,school,managment,sex,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,False,False,False,False,True,True,False,True,True,...,True,False,True,True,False,True,True,True,True,True
4,True,True,True,True,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,True,True,True,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
617,True,True,True,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
618,True,True,True,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
619,True,True,True,True,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
620,True,True,True,True,False,True,False,False,True,False,...,False,False,True,False,False,True,True,True,True,True

In [11]:
df.isnull().sum()

school        621
managment     548
sex           500
famsize        20
Pstatus         4
Medu            6
Fedu            5
Mjob            4
Fjob            6
reason          5
guardian        4
traveltime      6
studytime       6
failures        5
schoolsup       3
famsup          6
paid            5
activities      6
nursery         6
higher          5
internet        4
romantic        6
famrel          5
freetime        4
goout           6
Dalc            5
Walc            5
health        621
absences      620
G1            621
G2            621
G3            621
dtype: int64

In [12]:
df.isnull().sum().sum()

4910

In [19]:
df1 = df.fillna(value=5)
df1

,school,managment,sex,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,5.0,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5.0,5,5.0,5.0,5.0
1,5.0,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5.0,5,5.0,5.0,5.0
2,5.0,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5.0,5,5.0,5.0,5.0
3,5.0,إدارة التعليم,الجنس,نوع التعليم,ريــــاض أطفــــــال,5,5,المرحلة الابتدائية,5,5,...,5,تربية خاصة,5,5,المجموع,5.0,5,5.0,5.0,5.0
4,5.0,5,5,5,حكومي,أهلي,الاجمالي,حكومي,أهلي,الاجمالي,...,الاجمالي,حكومي,اهلي,الاجمالي,5,5.0,5,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,5.0,5,5,تحفيظ,0.0,0.0,0.0,527.0,69.0,596.0,...,0.0,0.0,5.0,5.0,1091.0,5.0,5,5.0,5.0,5.0
617,5.0,5,5,تربية خاصة,0.0,0.0,0.0,2.0,0.0,2.0,...,0.0,1011.0,39.0,1050.0,1053.0,5.0,5,5.0,5.0,5.0
618,5.0,5,5,جملة,2132.0,1272.0,3404.0,6322.0,780.0,7102.0,...,1158.0,1011.0,44.0,1055.0,19882.0,5.0,5,5.0,5.0,5.0
619,5.0,5,5,5,2132.0,1272.0,3404.0,12647.0,1390.0,14037.0,...,1799.0,2713.0,64.0,2777.0,36693.0,5.0,5,5.0,5.0,5.0
620,5.0,5,5,5,اجمالي رياض أطفال,5,3404.0,اجمالي ابتدائي,5,14037.0,...,1799.0,اجمالي تربية خاصة,5,2777.0,36693.0,5.0,5,5.0,5.0,5.0

In [20]:
df1.isnull().sum().sum()

0

In [24]:
df

,school,managment,sex,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,5.0,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5.0,5,5.0,5.0,5.0
1,5.0,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5.0,5,5.0,5.0,5.0
2,5.0,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5.0,5,5.0,5.0,5.0
3,5.0,إدارة التعليم,الجنس,نوع التعليم,ريــــاض أطفــــــال,5,5,المرحلة الابتدائية,5,5,...,5,تربية خاصة,5,5,المجموع,5.0,5,5.0,5.0,5.0
4,5.0,5,5,5,حكومي,أهلي,الاجمالي,حكومي,أهلي,الاجمالي,...,الاجمالي,حكومي,اهلي,الاجمالي,5,5.0,5,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,5.0,5,5,تحفيظ,0.0,0.0,0.0,527.0,69.0,596.0,...,0.0,0.0,5.0,5.0,1091.0,5.0,5,5.0,5.0,5.0
617,5.0,5,5,تربية خاصة,0.0,0.0,0.0,2.0,0.0,2.0,...,0.0,1011.0,39.0,1050.0,1053.0,5.0,5,5.0,5.0,5.0
618,5.0,5,5,جملة,2132.0,1272.0,3404.0,6322.0,780.0,7102.0,...,1158.0,1011.0,44.0,1055.0,19882.0,5.0,5,5.0,5.0,5.0
619,5.0,5,5,5,2132.0,1272.0,3404.0,12647.0,1390.0,14037.0,...,1799.0,2713.0,64.0,2777.0,36693.0,5.0,5,5.0,5.0,5.0
620,5.0,5,5,5,اجمالي رياض أطفال,5,3404.0,اجمالي ابتدائي,5,14037.0,...,1799.0,اجمالي تربية خاصة,5,2777.0,36693.0,5.0,5,5.0,5.0,5.0

In [26]:
df1.fillna({"school":"not available","G1":"-1"})

,school,managment,sex,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,5.0,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5.0,5,5.0,5.0,5.0
1,5.0,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5.0,5,5.0,5.0,5.0
2,5.0,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5.0,5,5.0,5.0,5.0
3,5.0,إدارة التعليم,الجنس,نوع التعليم,ريــــاض أطفــــــال,5,5,المرحلة الابتدائية,5,5,...,5,تربية خاصة,5,5,المجموع,5.0,5,5.0,5.0,5.0
4,5.0,5,5,5,حكومي,أهلي,الاجمالي,حكومي,أهلي,الاجمالي,...,الاجمالي,حكومي,اهلي,الاجمالي,5,5.0,5,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,5.0,5,5,تحفيظ,0.0,0.0,0.0,527.0,69.0,596.0,...,0.0,0.0,5.0,5.0,1091.0,5.0,5,5.0,5.0,5.0
617,5.0,5,5,تربية خاصة,0.0,0.0,0.0,2.0,0.0,2.0,...,0.0,1011.0,39.0,1050.0,1053.0,5.0,5,5.0,5.0,5.0
618,5.0,5,5,جملة,2132.0,1272.0,3404.0,6322.0,780.0,7102.0,...,1158.0,1011.0,44.0,1055.0,19882.0,5.0,5,5.0,5.0,5.0
619,5.0,5,5,5,2132.0,1272.0,3404.0,12647.0,1390.0,14037.0,...,1799.0,2713.0,64.0,2777.0,36693.0,5.0,5,5.0,5.0,5.0
620,5.0,5,5,5,اجمالي رياض أطفال,5,3404.0,اجمالي ابتدائي,5,14037.0,...,1799.0,اجمالي تربية خاصة,5,2777.0,36693.0,5.0,5,5.0,5.0,5.0